{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h1 class="h2">Check-list General</h1><br>
            <h6 style="text-align: center;">Seleccione con "Si" Todo lo que sea necesario reemplazar del vehiculo en cuestion</h4>
            <hr>
            <form action=""  method="POST">
                {% csrf_token %}
                <div class="row" style="height: auto;margin-bottom: 10px;">
                    {{ check }}
                </div>
                <hr>
                <div style="float: right;">
                    {{ mensaje }}
                    <button type="submit" class="btn btn-success">Guardar</button><a class="btn btn-danger" href="{% url 'checklist' %}">Cancelar</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}